.header {
    width: 100%;
    height: 100vh;
    background-color: $colorNegro;
    overflow: hidden;
}
.nav__menu {
    position: fixed;
    width: 100%;
    height: 60px;
    border-bottom: 2px solid $colorNaranja;
    background-color: $colorNegro;
    z-index: 30;
    
}

.nav__toggle {
    position: absolute;
    top: 15px;
    right: 15px;
    cursor: pointer;
    i{
        color: $colorNaranja;
        font-size: 30px;
    }
}
.nav__close {
    display: none;
    position: absolute;
    top: 15px;
    right: 15px;
    cursor: pointer;
    i{
        color: $colorNaranja;
        font-size: 30px;
    }
}
.nav__enlaces {
    width: 80%;
    height: 100%;
    margin-top: 60px;
    background-color: $colorNegro;
    text-align: center;
    font-size: $parrafosDesktop;
    border-left: 2px solid $colorNaranja;
    list-style: none;
    position: fixed;
    top: 0;
    left: 100%;
    transition: .5s;
    li {
        padding: 5px;
        margin: 15px auto;

        a{
            color: $colorNaranja;
            font-weight: 600;
        }
    }
}

.navToggle-visible {
    left: 20%;
    
}
.navClose-visible {
    display: block;
}
.navToggle-ocultar {
    display: none;
}

.home-titulos {
    padding-top: 160px;
    text-align: center;
    h1{
        color: $colorNaranja;
    }
    h1, h2{
        font-size: $titulosMobile;
        font-family: $lobster;
    }
    h2{
        color: $colorBlanco;
    } 
}

.home-container {
    position: relative;
    .home-img {
        width: 90%;
        height: 300px;
        margin: 60px auto;
        position: relative;
        z-index: 10;
        img {
            width: 100%;
            height: 300px;
            margin: auto;
        }
    }
    .home-path {
        width: 100%;
        height: 450px;
        position: absolute;
        top: 0px;
        left: 0%;
        background-color: $colorNaranja;
        clip-path: polygon(100% 0, 0% 100%, 100% 100%);
        
    }
}
