.sobreMi{
    padding-top: 60px;
    min-height: 100vh;
    overflow: hidden;
    
    transition: all 1s;
    h2{
        font-size: $titulosMobile;
        font-family: $lobster;
        color: $colorNaranja;
        text-align: center;
        margin: 32px auto;
    }
    .sobreMi__container {
        padding: 15px 10px;
        .sobreMi__container-img{
            display: flex;
            justify-content: center;
            img {
                width: 150px;
                height: 150px;
                border-radius: 50%;
                border: 2px solid $colorNaranja;
                box-shadow: 0px 0px 60px 0 $colorNaranja;
            
            }
        }
        .sobreMi__container-text{
            padding: 16px;
            color: $colorBlanco;
            font-size: $parrafosMobile;
            .text__titulo {
                font-size: 18px;
                text-align: center;
                font-weight: 600;
                line-height: 30px;
            }
            .text__parrafo {
                text-align: center;
            }
            
        }

    }
    .sobreMi__masInfo{
        color: $colorBlanco;
        padding: 16px;
        h4{
            font-size: 18px;
            line-height: 28px;
        }
        .masInfo__enlace{
            display: inline-block;
            margin-top: 15px;
            padding: 5px 25px;
            text-decoration: none;
            color: $colorBlanco;
            font-size: $parrafosMobile;
            font-weight: 600;
            background-color: transparent;
            border: 1px solid $colorNaranja;
            border-radius: 2px;
            transition-duration: .3s;
            &:hover {
                color: $colorNegro;
                background-color: $colorNaranja;

            }
            
        }
        
    }
}


/* Habilidades */

.habilidades {
    padding-top: 60px;
    min-height: 100vh;
    overflow: hidden;
    h2{
        font-size: $titulosMobile;
        font-family: $lobster;
        color: $colorNaranja;
        text-align: center;
        margin: 32px auto;
    }
    .habilidades__container {
        padding: 16px;
        h3 {    
            font-size: 14px;
            font-weight: 500;
            color: $colorBlanco;
        }
        .habilidades__img {
            width: 80%;
            margin: auto;
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            align-items: center;
            img {
                width: 35px;
                height: 35px;
                margin: 16px;
            }
        }
      
    }
}
/* proyectos */

.proyectos {
    padding-top: 60px;
    min-height: 100vh;
    overflow: hidden;
    h2{
        font-size: $titulosMobile;
        font-family: $lobster;
        color: $colorNaranja;
        text-align: center;
        margin: 32px auto;
    }
    .proyecto__container {
        margin: 50px auto;
        
        .proyecto__container-img {
            margin: auto;
            width: 100%;
            height: 300px;
            padding: 5px;
            border: 4px solid $colorNaranja;
            position: relative;
            img {
                width: 100%;
                height: 100%;
                
            }
            .proyecto__nombre{
                position: absolute;
                width: 100%;
                height: 100%;
                background-color: #fff2;
                backdrop-filter: blur(10px);
                top: 0;
                left: 0;
                display: flex;
                justify-content: center;
                align-items: center;
                font-size: $subtitulosMobile;
                font-style: italic;
                color: $colorNegro;
                font-weight: 700;
                opacity: 0;
                transform: translateZ(1) scale(1.2);
                transition: all .4s ease;
                &:hover {
                    opacity: 1;
                    
                    transform:translateZ(1) scale(1);
                }
            }

        }
        .proyecto__tecnologias {
            margin: 20px 0;
            color: $colorBlanco;
            h6{
                font-size: 18px;
                font-family: $poppins;
                font-weight: 500;
                text-align: center;
            }
            
        }
        .proyecto__links {
            margin: 20px 0;
            text-align: center;
            a{  
                margin: 5px;
                padding: 6px 20px;
                text-decoration: none;
                color: $colorBlanco;
                font-weight: 500;
                border: 2px solid $colorNaranja;
                border-radius: 4px;
                transition: .4s;
               
                &:hover {
                    background-color: $colorNaranja;
                }
            }
        }
    }
   
}

/* contacto */
.contacto {
    padding-top: 60px;
    min-height: 100vh;
    overflow: hidden;
    h2 {
        font-size: $titulosMobile;
        font-family: $lobster;
        color: $colorNaranja;
        text-align: center;
        margin: 32px auto;
    }
    .contacto__extra{
        h5{
            font-size: $subtitulosMobile;
            color: $colorNaranja;
            text-align: center;
            margin: 32px auto;
        }  
    }
    .contacto__redes {
        display: flex;
        justify-content: center;
        align-items: center;
        p {
            font-size: 32px;
            padding: 16px 32px;
            a{
                color: $colorNaranja;
                &:hover {
                    color: $colorBlanco;
                }
            }
        }
    }
}
