.sobreMi{
    padding-top: 60px;
    min-height: 100vh;
    overflow: hidden;
    h2{
        font-size: $titulosMobile;
        font-family: $lobster;
        color: $colorNaranja;
        text-align: center;
        margin: 32px auto;
    }
    .sobreMi__container {
        background-color: #232323;
        padding: 15px 10px;
        .sobreMi__container-img{
            display: flex;
            justify-content: center;
            
            img {
                width: 200px;
                height: 200px;
                border-radius: 50%;
            
            }
        }
        .sobreMi__container-text{
            padding: 16px;
            color: $colorBlanco;
            font-size: $parrafosMobile;
            .text__titulo {
                font-size: 20px;
                text-align: center;
                font-weight: 600;
                line-height: 30px;
            }
            .text__parrafo {
                text-align: center;
            }
            
        }

    }
    .sobreMi__masInfo{
        color: $colorBlanco;
        padding: 16px;
        h4{
            font-size: $parrafosMobile;
            line-height: 28px;
        }
        .masInfo__enlace{
            display: inline-block;
            margin-top: 15px;
            padding: 5px 25px;
            text-decoration: none;
            color: $colorBlanco;
            font-weight: 600;
            background-color: transparent;
            border: 1px solid $colorNaranja;
            border-radius: 2px;
            transition-duration: .3s;
            &:hover {
                color: $colorNegro;
                background-color: $colorNaranja;

            }
            
        }
        
    }
}


/* Habilidades */

.habilidades {
    padding-top: 60px;
    min-height: 100vh;
    overflow: hidden;
    h2{
        font-size: $titulosMobile;
        font-family: $lobster;
        color: $colorNaranja;
        text-align: center;
        margin: 32px auto;
    }
    .habilidades__container {
        background-color: #232323;
        padding: 16px;
        h3 {
            padding: 0 16px;
            font-size: $subtitulosDesktop;
            font-weight: 600;
            color: $colorBlanco;
            border-left: 10px solid $colorNaranja;
        }
        .habilidades__img {
            width: 80%;
            margin: auto;
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            align-items: center;
            img {
                width: 50px;
                height: 50px;
                margin: 20px;
                transition-duration: .3s;
                &:hover {
                    transform: scale(1.3);
                }
            }
        }
      
    }
}
/* proyectos */

.proyectos {
    padding-top: 60px;
    min-height: 100vh;
    overflow: hidden;
    h2{
        font-size: $titulosMobile;
        font-family: $lobster;
        color: $colorNaranja;
        text-align: center;
        margin: 32px auto;
    }
    .proyectos__container {
        margin: 32px auto;
        border-radius: 4px;
        cursor: pointer;
        &:hover img {
            opacity: 1;
        }
        &:hover h5 {
            display: none;
        }
        img {
            height: 300px;
            opacity: .3;
            border-radius: 4px;
            transition-duration: .5s;
        }
    }
}

/* contacto */
.contacto {
    padding-top: 60px;
    min-height: 100vh;
    overflow: hidden;
    h2 {
        font-size: $titulosMobile;
        font-family: $lobster;
        color: $colorNaranja;
        text-align: center;
        margin: 32px auto;
    }
    .contacto__extra{
        h5{
            font-size: $subtitulosMobile;
            color: $colorNaranja;
            text-align: center;
            margin: 32px auto;
        }  
    }
    .contacto__redes {
        display: flex;
        justify-content: center;
        align-items: center;
        p {
            font-size: 32px;
            padding: 16px 32px;
            a{
                color: $colorNaranja;
                &:hover {
                    color: $colorBlanco;
                }
            }
        }
    }
}
