/* Colores */

$colorNaranja : #FB3D00;
$colorBlanco : #ffffff;
$colorNegro : #111111;

/* Tipografia */

$lobster : "poppins";
$poppins : "poppins";

/* Tamaño de letra */

$titulosDesktop : 52px;
$subtitulosDesktop : 28px;
$parrafosDesktop : 18px;

$titulosMobile : 42px;
$subtitulosMobile : 24px;
$parrafosMobile : 14px;