/* Colores */

$colorNaranja : #FB3D00;
$colorBlanco : #ffffff;
$colorNegro : #111111;

/* Tipografia */

$lobster : "lobster";
$poppins : "poppins";

/* Tamaño de letra */

$titulosDesktop : 56px;
$subtitulosDesktop : 32px;
$parrafosDesktop : 18px;

$titulosMobile : 42px;
$subtitulosMobile : 26px;
$parrafosMobile : 16px;