@charset "UTF-8";
* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "poppins";
}

body {
  background-color: #121212;
  overflow-x: hidden;
}

body::-webkit-scrollbar {
  width: 15px;
  background-color: #232323;
}

body::-webkit-scrollbar-thumb {
  background-color: #FB3D00;
  border-radius: 5px;
}

a {
  text-decoration: none;
}

/* Colores */
/* Tipografia */
/* Tamaño de letra */
.header {
  width: 100%;
  min-height: 100vh;
  background-color: #111111;
}

.nav__menu {
  position: fixed;
  width: 100%;
  height: 60px;
  border-bottom: 2px solid #FB3D00;
  background-color: #111111;
  z-index: 30;
}

.nav__toggle {
  position: absolute;
  top: 15px;
  right: 15px;
  cursor: pointer;
}

.nav__toggle i {
  color: #FB3D00;
  font-size: 30px;
}

.nav__close {
  display: none;
  position: absolute;
  top: 15px;
  right: 15px;
  cursor: pointer;
}

.nav__close i {
  color: #FB3D00;
  font-size: 30px;
}

.nav__enlaces {
  width: 80%;
  height: 100%;
  margin-top: 60px;
  background-color: #111111;
  text-align: center;
  font-size: 18px;
  border-left: 2px solid #FB3D00;
  list-style: none;
  position: fixed;
  top: 0;
  left: 100%;
  -webkit-transition: .5s;
  transition: .5s;
}

.nav__enlaces li {
  padding: 5px;
  margin: 15px auto;
}

.nav__enlaces li a {
  color: #FB3D00;
  font-weight: 600;
}

.navToggle-visible {
  left: 20%;
}

.navClose-visible {
  display: block;
}

.navToggle-ocultar {
  display: none;
}

.home__desktop-container .home__titulos {
  padding-top: 160px;
  text-align: center;
  -webkit-animation: aparecer  2s ease 1;
          animation: aparecer  2s ease 1;
}

.home__desktop-container .home__titulos h1 {
  color: #FB3D00;
}

.home__desktop-container .home__titulos h1, .home__desktop-container .home__titulos h2 {
  font-size: 42px;
  font-family: "poppins";
}

.home__desktop-container .home__titulos h2 {
  color: #ffffff;
}

.home__desktop-container .home__container {
  position: relative;
  -webkit-animation: aparecer  2s ease 1;
          animation: aparecer  2s ease 1;
}

.home__desktop-container .home__container .home-img {
  height: 300px;
  margin: 60px auto;
  text-align: center;
}

.home__desktop-container .home__container .home-img img {
  width: 300px;
  height: 300px;
  border-radius: 50%;
  border: 2px solid #FB3D00;
  -webkit-box-shadow: 0px 0px 100px 0 #FB3D00;
          box-shadow: 0px 0px 100px 0 #FB3D00;
}

.nav-redes {
  display: none;
}

@-webkit-keyframes aparecer {
  from {
    opacity: 0;
    -webkit-transform: translatey(150%);
            transform: translatey(150%);
  }
  to {
    opacity: 1;
    -webkit-transform: translatey(0%);
            transform: translatey(0%);
  }
}

@keyframes aparecer {
  from {
    opacity: 0;
    -webkit-transform: translatey(150%);
            transform: translatey(150%);
  }
  to {
    opacity: 1;
    -webkit-transform: translatey(0%);
            transform: translatey(0%);
  }
}

.sobreMi {
  padding-top: 60px;
  min-height: 100vh;
  overflow: hidden;
  -webkit-transition: all 1s;
  transition: all 1s;
}

.sobreMi h2 {
  font-size: 42px;
  font-family: "poppins";
  color: #FB3D00;
  text-align: center;
  margin: 32px auto;
}

.sobreMi .sobreMi__container {
  padding: 15px 10px;
}

.sobreMi .sobreMi__container .sobreMi__container-img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.sobreMi .sobreMi__container .sobreMi__container-img img {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  border: 2px solid #FB3D00;
  -webkit-box-shadow: 0px 0px 60px 0 #FB3D00;
          box-shadow: 0px 0px 60px 0 #FB3D00;
}

.sobreMi .sobreMi__container .sobreMi__container-text {
  padding: 16px;
  color: #ffffff;
  font-size: 14px;
}

.sobreMi .sobreMi__container .sobreMi__container-text .text__titulo {
  font-size: 18px;
  text-align: center;
  font-weight: 600;
  line-height: 30px;
}

.sobreMi .sobreMi__container .sobreMi__container-text .text__parrafo {
  text-align: center;
}

.sobreMi .sobreMi__masInfo {
  color: #ffffff;
  padding: 16px;
}

.sobreMi .sobreMi__masInfo h4 {
  font-size: 18px;
  line-height: 28px;
}

.sobreMi .sobreMi__masInfo .masInfo__enlace {
  display: inline-block;
  margin-top: 15px;
  padding: 5px 25px;
  text-decoration: none;
  color: #ffffff;
  font-size: 14px;
  font-weight: 600;
  background-color: transparent;
  border: 1px solid #FB3D00;
  border-radius: 2px;
  -webkit-transition-duration: .3s;
          transition-duration: .3s;
}

.sobreMi .sobreMi__masInfo .masInfo__enlace:hover {
  color: #111111;
  background-color: #FB3D00;
}

/* Habilidades */
.habilidades {
  padding-top: 60px;
  min-height: 100vh;
  overflow: hidden;
}

.habilidades h2 {
  font-size: 42px;
  font-family: "poppins";
  color: #FB3D00;
  text-align: center;
  margin: 32px auto;
}

.habilidades .habilidades__container {
  padding: 16px;
}

.habilidades .habilidades__container h3 {
  font-size: 14px;
  font-weight: 500;
  color: #ffffff;
}

.habilidades .habilidades__container .habilidades__img {
  width: 80%;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.habilidades .habilidades__container .habilidades__img img {
  width: 35px;
  height: 35px;
  margin: 16px;
}

/* proyectos */
.proyectos {
  padding-top: 60px;
  min-height: 100vh;
  overflow: hidden;
}

.proyectos h2 {
  font-size: 42px;
  font-family: "poppins";
  color: #FB3D00;
  text-align: center;
  margin: 32px auto;
}

.proyectos .proyecto__container {
  margin: 50px auto;
}

.proyectos .proyecto__container .proyecto__container-img {
  margin: auto;
  width: 100%;
  height: 300px;
  padding: 5px;
  border: 4px solid #FB3D00;
  position: relative;
}

.proyectos .proyecto__container .proyecto__container-img img {
  width: 100%;
  height: 100%;
}

.proyectos .proyecto__container .proyecto__container-img .proyecto__nombre {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #fff2;
  -webkit-backdrop-filter: blur(10px);
          backdrop-filter: blur(10px);
  top: 0;
  left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 24px;
  font-style: italic;
  color: #111111;
  font-weight: 700;
  opacity: 0;
  -webkit-transform: translateZ(1) scale(1.2);
          transform: translateZ(1) scale(1.2);
  -webkit-transition: all .4s ease;
  transition: all .4s ease;
}

.proyectos .proyecto__container .proyecto__container-img .proyecto__nombre:hover {
  opacity: 1;
  -webkit-transform: translateZ(1) scale(1);
          transform: translateZ(1) scale(1);
}

.proyectos .proyecto__container .proyecto__tecnologias {
  margin: 20px 0;
  color: #ffffff;
}

.proyectos .proyecto__container .proyecto__tecnologias h6 {
  font-size: 18px;
  font-family: "poppins";
  font-weight: 500;
  text-align: center;
}

.proyectos .proyecto__container .proyecto__links {
  margin: 20px 0;
  text-align: center;
}

.proyectos .proyecto__container .proyecto__links a {
  margin: 5px;
  padding: 6px 20px;
  text-decoration: none;
  color: #ffffff;
  font-weight: 500;
  border: 2px solid #FB3D00;
  border-radius: 4px;
  -webkit-transition: .4s;
  transition: .4s;
}

.proyectos .proyecto__container .proyecto__links a:hover {
  background-color: #FB3D00;
}

/* contacto */
.contacto {
  padding-top: 60px;
  min-height: 100vh;
  overflow: hidden;
}

.contacto h2 {
  font-size: 42px;
  font-family: "poppins";
  color: #FB3D00;
  text-align: center;
  margin: 32px auto;
}

.contacto .contacto__extra h5 {
  font-size: 24px;
  color: #FB3D00;
  text-align: center;
  margin: 32px auto;
}

.contacto .contacto__redes {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.contacto .contacto__redes p {
  font-size: 32px;
  padding: 16px 32px;
}

.contacto .contacto__redes p a {
  color: #FB3D00;
}

.contacto .contacto__redes p a:hover {
  color: #ffffff;
}

@media (min-width: 992px) {
  .nav__menu {
    border: none;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 100%;
    height: 60px;
  }
  .nav__enlaces {
    height: 60px;
    margin: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    border: none;
    position: static;
  }
  .nav__enlaces li {
    padding: 5px;
    margin: 15px;
  }
  .nav__enlaces li a {
    color: #FB3D00;
    font-weight: 500;
    letter-spacing: 1px;
  }
  .nav__enlaces li a:hover {
    color: #ffffff;
  }
  .nav__toggle {
    display: none;
  }
  .nav-redes {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    border: none;
  }
  .nav-redes a {
    text-decoration: none;
    color: #FB3D00;
    margin: 0 15px;
    font-size: 24px;
  }
  .nav-redes a:hover {
    color: #ffffff;
  }
  /* home */
  .home__desktop-container {
    width: 100%;
    min-height: calc(100vh - 60px);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .home__desktop-container .home__titulos {
    padding: 0 60px;
  }
  .home__desktop-container .home__titulos h1,
  .home__desktop-container .home__titulos h2 {
    font-size: 62px;
  }
  .home__desktop-container .home__container .home-img {
    width: auto;
    height: auto;
    margin: 0;
  }
  .home__desktop-container .home__container .home-img img {
    width: 200px;
    height: 200px;
  }
  /* Habilidades */
  .habilidades .habilidades__container {
    padding: 0px;
  }
  .habilidades .habilidades__container .habilidades__img {
    width: 100%;
  }
}

@media (min-width: 1200px) {
  .home__desktop-container .home__container .home-img img {
    width: 300px;
    height: 300px;
  }
  /* main */
  .sobreMi h2 {
    font-size: 52px;
  }
  .sobreMi .sobreMi__container {
    padding: 15px 10px;
  }
  .sobreMi .sobreMi__container .sobreMi__container-img {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .sobreMi .sobreMi__container .sobreMi__container-img img {
    width: 200px;
    height: 200px;
  }
  .sobreMi .sobreMi__container .sobreMi__container-text {
    padding: 16px;
    color: #ffffff;
    font-size: 18px;
    font-weight: 300;
  }
  .sobreMi .sobreMi__container .sobreMi__container-text .text__titulo {
    font-size: 22px;
  }
  .sobreMi .sobreMi__container .sobreMi__container-text .text__parrafo {
    text-align: center;
  }
  .sobreMi .sobreMi__masInfo {
    color: #ffffff;
  }
  .sobreMi .sobreMi__masInfo h4 {
    font-size: 18px;
    line-height: 28px;
  }
  .sobreMi .sobreMi__masInfo h4 span {
    font-weight: 300;
  }
  .sobreMi .sobreMi__masInfo .masInfo__enlace {
    display: inline-block;
    margin-top: 15px;
    padding: 5px 25px;
    text-decoration: none;
    color: #ffffff;
    font-weight: 600;
    background-color: transparent;
    border: 1px solid #FB3D00;
    border-radius: 2px;
    -webkit-transition-duration: .3s;
            transition-duration: .3s;
  }
  .sobreMi .sobreMi__masInfo .masInfo__enlace:hover {
    color: #111111;
    background-color: #FB3D00;
  }
  .habilidades h2 {
    font-size: 52px;
  }
  .habilidades .habilidades__container {
    padding: 0;
  }
  .habilidades .habilidades__container h3 {
    padding: 0 16px;
    margin: 16px;
  }
  .habilidades .habilidades__container .habilidades__img {
    width: auto;
  }
  .habilidades .habilidades__container .habilidades__img img {
    width: 50px;
    height: 50px;
    margin: 16px;
  }
  /* PROYECTOS */
  .proyectos {
    padding-top: 60px;
  }
  .proyectos h2 {
    font-size: 52px;
    font-family: "poppins";
  }
  .proyectos .proyecto__container {
    margin: 50px auto;
  }
  .proyectos .proyecto__container .proyecto__container-img .proyecto__nombre {
    font-size: 28px;
  }
  .contacto {
    padding-top: 60px;
    min-height: 100vh;
    overflow: hidden;
  }
  .contacto h2 {
    font-size: 52px;
  }
  .contacto .contacto-extra h5, .contacto .contacto-extra h6 {
    font-size: 24px;
    color: #FB3D00;
    text-align: center;
    margin: 32px auto;
  }
  .contacto .contacto-redes {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .contacto .contacto-redes p {
    font-size: 32px;
    padding: 16px 32px;
  }
  .contacto .contacto-redes p a {
    color: #FB3D00;
  }
  .contacto .contacto-redes p a:hover {
    color: #ffffff;
  }
}
/*# sourceMappingURL=style.css.map */