@charset "UTF-8";
* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "poppins";
}

body {
  background-color: #121212;
}

a {
  text-decoration: none;
}

/* Colores */
/* Tipografia */
/* Tamaño de letra */
.header {
  width: 100%;
  min-height: 100vh;
  background-color: #111111;
  overflow: hidden;
}

.nav__menu {
  position: fixed;
  width: 100%;
  height: 60px;
  border-bottom: 2px solid #FB3D00;
  background-color: #111111;
  z-index: 30;
}

.nav__toggle {
  position: absolute;
  top: 15px;
  right: 15px;
  cursor: pointer;
}

.nav__toggle i {
  color: #FB3D00;
  font-size: 30px;
}

.nav__close {
  display: none;
  position: absolute;
  top: 15px;
  right: 15px;
  cursor: pointer;
}

.nav__close i {
  color: #FB3D00;
  font-size: 30px;
}

.nav__enlaces {
  width: 80%;
  height: 100%;
  margin-top: 60px;
  background-color: #111111;
  text-align: center;
  font-size: 18px;
  border-left: 2px solid #FB3D00;
  list-style: none;
  position: fixed;
  top: 0;
  left: 100%;
  -webkit-transition: .5s;
  transition: .5s;
}

.nav__enlaces li {
  padding: 5px;
  margin: 15px auto;
}

.nav__enlaces li a {
  color: #FB3D00;
  font-weight: 600;
}

.navToggle-visible {
  left: 20%;
}

.navClose-visible {
  display: block;
}

.navToggle-ocultar {
  display: none;
}

.home-titulos {
  padding-top: 160px;
  text-align: center;
}

.home-titulos h1 {
  color: #FB3D00;
}

.home-titulos h1, .home-titulos h2 {
  font-size: 42px;
  font-family: "lobster";
}

.home-titulos h2 {
  color: #ffffff;
}

.home-container {
  position: relative;
}

.home-container .home-img {
  height: 300px;
  margin: 60px auto;
  position: relative;
  text-align: center;
  z-index: 10;
}

.home-container .home-img img {
  width: 300px;
  height: 300px;
  border-radius: 50%;
}

.home-container .home-path {
  width: 100%;
  height: 450px;
  position: absolute;
  top: 0px;
  left: 0%;
  background-color: #FB3D00;
  -webkit-clip-path: polygon(100% 0, 0% 100%, 100% 100%);
          clip-path: polygon(100% 0, 0% 100%, 100% 100%);
}

.nav-redes {
  display: none;
}

.sobreMi {
  padding-top: 60px;
  min-height: 100vh;
  overflow: hidden;
}

.sobreMi h2 {
  font-size: 42px;
  font-family: "lobster";
  color: #FB3D00;
  text-align: center;
  margin: 32px auto;
}

.sobreMi .sobreMi__container {
  background-color: #232323;
  padding: 15px 10px;
}

.sobreMi .sobreMi__container .sobreMi__container-img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.sobreMi .sobreMi__container .sobreMi__container-img img {
  width: 200px;
  height: 200px;
  border-radius: 50%;
}

.sobreMi .sobreMi__container .sobreMi__container-text {
  padding: 16px;
  color: #ffffff;
  font-size: 16px;
}

.sobreMi .sobreMi__container .sobreMi__container-text .text__titulo {
  font-size: 20px;
  text-align: center;
  font-weight: 600;
  line-height: 30px;
}

.sobreMi .sobreMi__container .sobreMi__container-text .text__parrafo {
  text-align: center;
}

.sobreMi .sobreMi__masInfo {
  color: #ffffff;
  padding: 16px;
}

.sobreMi .sobreMi__masInfo h4 {
  font-size: 16px;
  line-height: 28px;
}

.sobreMi .sobreMi__masInfo .masInfo__enlace {
  display: inline-block;
  margin-top: 15px;
  padding: 5px 25px;
  text-decoration: none;
  color: #ffffff;
  font-weight: 600;
  background-color: transparent;
  border: 1px solid #FB3D00;
  border-radius: 2px;
  -webkit-transition-duration: .3s;
          transition-duration: .3s;
}

.sobreMi .sobreMi__masInfo .masInfo__enlace:hover {
  color: #111111;
  background-color: #FB3D00;
}

/* Habilidades */
.habilidades {
  padding-top: 60px;
  min-height: 100vh;
  overflow: hidden;
}

.habilidades h2 {
  font-size: 42px;
  font-family: "lobster";
  color: #FB3D00;
  text-align: center;
  margin: 32px auto;
}

.habilidades .habilidades__container {
  background-color: #232323;
  padding: 16px;
}

.habilidades .habilidades__container h3 {
  padding: 0 16px;
  font-size: 28px;
  font-weight: 600;
  color: #ffffff;
  border-left: 10px solid #FB3D00;
}

.habilidades .habilidades__container .habilidades__img {
  width: 80%;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.habilidades .habilidades__container .habilidades__img img {
  width: 50px;
  height: 50px;
  margin: 20px;
  -webkit-transition-duration: .3s;
          transition-duration: .3s;
}

.habilidades .habilidades__container .habilidades__img img:hover {
  -webkit-transform: scale(1.3);
          transform: scale(1.3);
}

/* proyectos */
.proyectos {
  padding-top: 60px;
  min-height: 100vh;
  overflow: hidden;
}

.proyectos h2 {
  font-size: 42px;
  font-family: "lobster";
  color: #FB3D00;
  text-align: center;
  margin: 32px auto;
}

.proyectos .proyectos__container {
  margin: 32px auto;
  border-radius: 4px;
  cursor: pointer;
}

.proyectos .proyectos__container:hover img {
  opacity: 1;
}

.proyectos .proyectos__container:hover h5 {
  display: none;
}

.proyectos .proyectos__container img {
  height: 300px;
  opacity: .3;
  border-radius: 4px;
  -webkit-transition-duration: .5s;
          transition-duration: .5s;
}

/* contacto */
.contacto {
  padding-top: 60px;
  min-height: 100vh;
  overflow: hidden;
}

.contacto h2 {
  font-size: 42px;
  font-family: "lobster";
  color: #FB3D00;
  text-align: center;
  margin: 32px auto;
}

.contacto .contacto__extra h5 {
  font-size: 26px;
  color: #FB3D00;
  text-align: center;
  margin: 32px auto;
}

.contacto .contacto__redes {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.contacto .contacto__redes p {
  font-size: 32px;
  padding: 16px 32px;
}

.contacto .contacto__redes p a {
  color: #FB3D00;
}

.contacto .contacto__redes p a:hover {
  color: #ffffff;
}

@media (min-width: 992px) {
  .nav__menu {
    border: none;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 100%;
    height: 60px;
  }
  .nav__enlaces {
    width: 100%;
    height: 60px;
    margin: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    border: none;
    position: static;
  }
  .nav__enlaces li {
    padding: 5px;
    margin: 15px;
  }
  .nav__enlaces li a {
    color: #FB3D00;
    font-weight: 500;
    letter-spacing: 1px;
  }
  .nav__enlaces li a:hover {
    color: #ffffff;
  }
  .nav__toggle {
    display: none;
  }
  .nav-redes {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    border: none;
  }
  .nav-redes a {
    text-decoration: none;
    color: #FB3D00;
    margin: 0 15px;
    font-size: 24px;
  }
  .nav-redes a:hover {
    color: #ffffff;
  }
  /* home */
  .home-titulos {
    padding-top: 0px;
    padding-left: 120px;
  }
  .home-titulos h1,
  .home-titulos h2 {
    font-size: 80px;
  }
  .home-desktop__container {
    width: 100%;
    min-height: calc(100vh - 60px);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .home-container {
    position: relative;
    margin-top: 60px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 50%;
    height: calc(100vh - 60px);
  }
  .home-container .home-img {
    width: auto;
    height: auto;
    margin: 0;
    position: relative;
    z-index: 10;
  }
  .home-container .home-img img {
    width: 350px;
    height: 350px;
  }
  .home-container .home-path {
    width: 100%;
    height: 100%;
    -webkit-clip-path: polygon(100% 0, 0% 100%, 100% 100%);
            clip-path: polygon(100% 0, 0% 100%, 100% 100%);
  }
  /* main */
  .sobreMi {
    padding-top: 60px;
    min-height: 100vh;
    overflow: hidden;
  }
  .sobreMi h2 {
    font-size: 62px;
  }
  .sobreMi .sobreMi__container {
    background-color: #232323;
    padding: 15px 10px;
  }
  .sobreMi .sobreMi__container .sobreMi__container-img {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .sobreMi .sobreMi__container .sobreMi__container-img img {
    width: 200px;
    height: 200px;
    border-radius: 50%;
  }
  .sobreMi .sobreMi__container .sobreMi__container-text {
    padding: 16px;
    color: #ffffff;
    font-size: 16px;
  }
  .sobreMi .sobreMi__container .sobreMi__container-text .text__titulo {
    font-size: 20px;
    text-align: center;
    font-weight: 600;
    line-height: 30px;
  }
  .sobreMi .sobreMi__container .sobreMi__container-text .text__parrafo {
    text-align: center;
  }
  .sobreMi .sobreMi__masInfo {
    color: #ffffff;
    padding: 16px;
  }
  .sobreMi .sobreMi__masInfo h4 {
    font-size: 16px;
    line-height: 28px;
  }
  .sobreMi .sobreMi__masInfo .masInfo__enlace {
    display: inline-block;
    margin-top: 15px;
    padding: 5px 25px;
    text-decoration: none;
    color: #ffffff;
    font-weight: 600;
    background-color: transparent;
    border: 1px solid #FB3D00;
    border-radius: 2px;
    -webkit-transition-duration: .3s;
            transition-duration: .3s;
  }
  .sobreMi .sobreMi__masInfo .masInfo__enlace:hover {
    color: #111111;
    background-color: #FB3D00;
  }
  .habilidades h2 {
    font-size: 62px;
  }
  .habilidades .habilidades__container {
    background-color: #232323;
    padding: 16px 0px 16px 0;
  }
  .habilidades .habilidades__container h3 {
    padding: 0 16px;
    margin: 16px;
  }
  .habilidades .habilidades__container .habilidades__img {
    width: auto;
  }
  .habilidades .habilidades__container .habilidades__img img {
    width: 50px;
    height: 50px;
    margin: 16px;
  }
  /* PROYECTOS */
  .proyectos h2 {
    padding-top: 60px;
    font-size: 62px;
  }
  .proyectos .proyectos__container {
    background-color: #fff;
    display: inline-block;
    margin: 22px;
  }
  .proyectos .proyectos__container img {
    width: 300px;
    height: 300px;
  }
  .contacto {
    padding-top: 60px;
    min-height: 100vh;
    overflow: hidden;
  }
  .contacto h2 {
    font-size: 62px;
  }
  .contacto .contacto-extra h5, .contacto .contacto-extra h6 {
    font-size: 26px;
    color: #FB3D00;
    text-align: center;
    margin: 32px auto;
  }
  .contacto .contacto-redes {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .contacto .contacto-redes p {
    font-size: 32px;
    padding: 16px 32px;
  }
  .contacto .contacto-redes p a {
    color: #FB3D00;
  }
  .contacto .contacto-redes p a:hover {
    color: #ffffff;
  }
}
/*# sourceMappingURL=style.css.map */